.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    &__text {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-transform: uppercase;
    }
    &__input {
        width: 28rem;
        height: 3rem;
        border: 1px solid #a1a4b1;
        border-radius: 4px;
        text-align: center;
    }
}

.dropdown {
    margin: 0.25rem 1.5rem;
    padding: 0.25rem;
    min-width: 5rem;
}

.icon {
    margin-top: 4rem;
    &__text {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.75rem 1.5rem;
        border: 0;
        padding: 0;
        margin: 0;
        min-width: 0;
    }

    &__fieldset {
        display: contents;
    }

    &__img {
        padding: 4px;
        cursor: pointer;
        display: inline-block;
    }
    &__radio {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        display: inline-block;
    }
}

.icon__radio:checked + .icon__img {
    outline: 0.1px solid $grey;
    background-color: #c1cbe27c;
}

.submit {
    margin-top: 4rem;
    &__action {
        background-color: $lightText;
        border: 1px solid #a1a4b1;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        padding: 0.25rem 0.5rem;
    }
}
