.day {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    &__button {
        font-weight: 800;
        color: #A1A4B1;
        background-color: $lightText;
        border: 1px solid #A1A4B1;
        border-radius: 4px;

    }

}

