.date {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    &__button {
        background-color: $lightText;
        border: 1px solid #a1a4b1;
        border-radius: 4px;
    }
    &__box {
        width: 148px;
        height: 180px;
        padding: 12px;
        margin: 12px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    &__minus-two {
    }
    &__minus-one {
    }
    &__selected {
    }
    &__plus-one {
    }
    &__plus-two {
    }
}
