.navigation {
    background-color: $grey;
    padding-right: 1rem;
  
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
    }
    &__link {
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.5rem;
      letter-spacing: 0.75px;
      color: $lightText;
      text-decoration: none;
  
      display: flex;
      align-items: center;
    }
    &__item {
      padding: 0.5rem;
      &--special {
        background: rgba(199, 226, 231, 0.28);
      }
    }
    &__icon {
      padding: 0 0.25rem 0 0.5rem;
      height: 24px;
      width: 24px;
    }
  }