.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    &__header {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        margin: 0 24px;
    }

    &-action {
        display: grid;
        grid-template-columns: 32px minmax(180px, 1fr) repeat(2, minmax(240px, 2fr));
        grid-column-gap: 8px;
        text-align: center;
        justify-self: center;
        align-self: center;
        &__icon {
            justify-self: center;
            align-self: center;
            padding-left: 4px;
        }
        &--names {
            grid-template-areas: ". . one two";
        }
        &--player-one {
            grid-area: one;
        }
        &--player-two {
            grid-area: two;
        }
    }
}

.dropdown {
    margin: 4px 24px;
    min-width: 80px;
}
