@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,300;1,400&family=Open+Sans:ital,wght@1,300;1,400&family=Quicksand:wght@300;400;500;600&display=swap";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: $text;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  margin-top: 64px;
}

.header {
  font-weight: 400;
  font-size: 44px;
  letter-spacing: 2px;
  padding: 0;
  margin: 0 0 32px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  &__button {
    background-color: #383F51;
    border-radius: 4px;
    padding: 12px;
&--text {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: $lightText;
  text-decoration: none;
}
  }
}

.navigation {
  background-color: $grey;
  padding-right: 16px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  &__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: $lightText;
    text-decoration: none;

    display: flex;
    align-items: center;
  }
  &__item {
    padding: 8px;
    &--special {
      background: rgba(199, 226, 231, 0.28);
    }
  }
  &__icon {
    padding: 0 4px 0 8px;
  }
}

.players {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player {
  padding: 0 120px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    border-radius: 50%;
    padding: 12px;
    &--one {
      background-color: $firstTransparent;
    }
    &--two {
      background-color: $secondTransparent;
    }
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    &--one {
      color: $first;
    }
    &--two {
      color: $second;
    }
  }
}

.vs {
  font-weight: bold;
  font-size: 48px;
  line-height: 32px;
}
